*{
    margin: 0;
    padding: 0;
}
:root{
    --theme-color:rgb(175, 172, 172);
}

nav{
    background-color: var(--theme-color);
    height: 65px;
    
}

nav i{
    color: rgb(255, 247, 247);
    font-size: 40px;
    
}

ul {
display: flex;
list-style: none;
color: white;
}


nav ul li{
 padding: 14px 25px;
}
#profileName {
    font-size: 40px;
    margin-top: -2px;
}


.left{
    width: 25%;
    height: 92vh;
    background-color: var(--theme-color);
    border: 2px solid white;

}
.left ul {
    flex-direction: column;
display: flex;


}
.left ul li{
    margin: auto;
    font-size: 25px;
    padding: 10px 0;
     border-bottom: 1px solid white;
     padding-top: 40px;
     text-decoration: none;
     
    
}
.left ul li a{
    color: rgb(255, 251, 251);
    text-decoration: none;
}
.left ul li a:hover{
    color: rgb(225, 224, 224);
    
}


.exit{
    display: flex;
    justify-content: center;
    margin-top: 22rem;    
}
.exit i{
    color: white;
    margin: auto;
    font-size: 30px;
    cursor: pointer;
    
}
.exit i:hover  {
   font-size: 50px;
   transition: all 0.3s ease-in-out;
}
.icon{
    padding: 0 10px;
}
.noteBox{
    background-color: rgb(211, 206, 206);
    height: 150px;
    
}

.box{
    /* width: 75%; */
    display: flex;
    /* border: 2px solid white; */
}
.right{
    width: 75%;
    border: 2px solid white;
}
.noteBox{
    width: 1000px;
    min-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    margin-top: 20px;
     padding: 15px 15px;
}
.outline{
    border: 2px solid white;
    padding: 15px 15px;
}


.divs input{
    height: 40px;
    width: 97%;
    margin: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 5px;
    
    
} 
.divAdd{
    display: flex;
    justify-content: center;    
}
.divAdd input{
    width: 600px;
    height: 50px;
    margin: auto;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;


}
.categoryBtn{
    display: flex;
    justify-content: center;
}
.categoryBtn button{
    height: 40px;
    width: 90px;
    
        border-radius: 15px;
        cursor: pointer;
        font-size: 15px;
}

.categoryBtn button:hover{
 border-radius: 20px;
    transform:scale(1.1) ;
     transition: all 0.3s ease-out; 
     background-color: rgb(239, 233, 233);
}
.note{
    height: 80vh;
    width: 97%;
    margin: 10px;
     padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;

}

.submitBtn{
    text-align: center;

}
.submitBtn button{
        background-color: rgb(47, 64, 249);
        color: white;
        height: 40px;
        width: 90px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 20px;
}

.submitBtn button:hover{
 border-radius: 20px;
    transform:scale(1.1) ;
     transition: all 0.6s ease; 
} 


.div2 select{
    height: 40px;
    width: 200px;
    padding: 0px 5px;
    margin: 10px 9px;
    font-size: 20px;
    color: gray;
    border-radius: 5px;
}

.div3 textarea{
    padding: 10px;
    border: 5px;
}
